// Light mode colors
$bgLightMode: #EAE5E9;
$heavyPink: #CEA7C8;

// Dark mode colors
$neutralBlue: #B2BCCC;
$bgDarkMode: #23395B;

// Highlight color
$highlightBlue: #78CAD2;

// Fonts
$headingFont: 'Josefin Sans', sans-serif;
$bodyFont: 'Lato', sans-serif;