@import 'partials/setup';
@import 'partials/variables';
@import 'partials/darkMode';


.App {
  text-align: center;
  background-color: $bgLightMode;
}

.App.darkStyles {
  background-color: $bgDarkMode;
}