@import 'partials/setup';
@import 'partials/variables';
@import 'partials/darkMode';

.App {
  height: 100vh;
  text-align: center;
  background-color: $bgLightMode;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.App.darkStyles {
  background-color: $bgDarkMode;
  color: white;
}